/* start herosection*/

.hero_image {
    background-color: #0a192f;
    padding: 1rem 2rem;


}
.hero{
    padding: 8px 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
@media (max-width: 768px) {
    .hero_image {
        
        /* background-image: url('/images/assets/hero_mobile.jpg'); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.hero_image .hero h1 {
    font-size: 64px;
}
.hero_image .hero h3{
    font-size: 32px;
}
.hero_image .hero h3{
    color: white;
    padding-top: 8px;
}
.hero_image .hero h1{
    color: white;
    padding-top: 8px;
}
.hero_image .hero div{
    margin-top: 16px;
}
.hero_image .hero a{
    padding: 8px 16px;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .hero_image {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* row-gap: 24px; */
    }
    
    .hero_image .hero h1 {
        font-size: 32px;
    }
    .hero_image .hero h3{
        font-size: 16px;
    }
}

/* end hero section */

/* reson section start */

.reasons_block {
    padding: 8px 16px;
    margin-top: 32px;
    /* background-image: linear-gradient(#A3BFFF,#677AA4); */
}
.reasons_block h1{
    text-align: center;
}

.reasons_block .image_reasons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.reasons_block .reason{
    font-weight: bold;
}
.image_reasons .reason_image img{
    width: 100%;
}
.reasons_block .reason li{
    display: flex;
    align-items: center;
}
.reasons_block .reason li::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/images/icons/BadgeCheck.svg");
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
}
    @media (max-width: 768px) {
    .reasons_block .image_reasons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    
}
/* reason end*/

/* services start */
.services_block {
    width: 100%;
    padding: 0px 8px;
}
.services_block h1{
    text-align: center;
}

.cardscontainer {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
    gap:20px;
}
@media (max-width:768px){
    .cardscontainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
}

.cardscontainer .card{
min-width: 350px;
flex-basis: 30%;
border-radius: 10px;
border: 1px solid #a09f9f;
display: flex;
flex-direction: column;
justify-content: end;
align-items: end;
}
.cardscontainer .card img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.card .card-body{
    background-color: white;
    padding: 8px 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card .card-body div{
    margin-top: 16px;
    margin-bottom: 16px;
}
.card .card-body div a{
    background-color: teal;
    color: white;
    padding: 8px 16px;
}
/* services end */